<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<title>La Bombonería - Blog</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" id="primeColour" href="../index.html">
			<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#ff5471" class="bi bi-cake-fill"
				viewBox="0 0 16 16">
				<path
					d="m7.399.804.595-.792.598.79A.747.747 0 0 1 8.5 1.806V4H11a2 2 0 0 1 2 2v3h1a2 2 0 0 1 2 2v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-4a2 2 0 0 1 2-2h1V6a2 2 0 0 1 2-2h2.5V1.813a.747.747 0 0 1-.101-1.01ZM12 6.414a.9.9 0 0 1-.646-.268 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0A.9.9 0 0 1 4 6.414v1c.49 0 .98-.187 1.354-.56a.914.914 0 0 1 1.292 0c.748.747 1.96.747 2.708 0a.914.914 0 0 1 1.292 0c.374.373.864.56 1.354.56zm2.646 5.732a.914.914 0 0 1-1.293 0 1.914 1.914 0 0 0-2.707 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0L1 11.793v1.34c.737.452 1.715.36 2.354-.28a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.708 0a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.707 0a.914.914 0 0 1 1.293 0 1.915 1.915 0 0 0 2.354.28v-1.34z" />
			</svg>La Bombonería
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="../index.html">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="blog.html">BLOG</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="gallery.html">GALLERY</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="form.html">CONTACT US</a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2 search-input" type="search" placeholder="Search"
							aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>


	<div class="container text-center mt-5">
		<div class="row">
			<div class="col-12">
				<h2 id="primeColour">Blog</h2>
			</div>
		</div>
	</div>


	<div class="container mt-5">
		<div class="row">

			<div class="col-12 col-md-6 mb-4 mt-5">
				<img class="image" src="../pics/large/6.jpg" alt="Blog image 1">
			</div>
			<div class="col-12 col-md-6 mb-4 mt-5">
				<h2>Handcrafted delights</h2>
				<p class="thin">
					Indulge in the exquisite world of our meticulously crafted macarons at La Bombonería.
					Renowned for their delicate and luxurious nature, our macarons are a true embodiment
					of fine French pastry artistry. Each bite reveals a perfect balance of a crisp, airy
					exterior and a sumptuously smooth, flavorful filling.</br>
					We pride ourselves on using only the highest quality ingredients, ensuring a sensory
					journey that captivates your taste buds. From classic flavors like velvety chocolate
					and sweet vanilla to more adventurous combinations, our diverse selection offers something
					for every palate.
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 order-md-2 mt-5">
				<img class="image" src="../pics/large/10.jpg" alt="Blog image 2">
			</div>
			<div class="col-12 col-md-6 mb-4 order-md-1 mt-5">
				<h2>Valentine´s day</h2>
				<p class="thin">
					Embark on a journey of decadence with the exquisite collection of chocolates at La Bombonería.
					Our artisanal chocolates are meticulously crafted to deliver an unparalleled sensory experience,
					combining the finest ingredients with a passion for exceptional confectionery.
					At La Bombonería, we source only the finest cocoa and premium ingredients to create chocolates that
					transcend ordinary confections.</br>
					Celebrate life's sweet moments with the unparalleled pleasure of our artisanal chocolates. From
					classic
					favorites to innovative creations, La Bombonería invites you to savor the magic of fine chocolate
					craftsmanship, where every bite is a celebration of indulgence and refined taste.
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 order-md-2 mt-5">
				<img class="image" src="../pics/large/1.jpg" alt="Blog image 3">
			</div>
			<div class="col-12 col-md-6 mb-4 order-md-3 mt-5">
				<h2>New chocolate cake</h2>
				<p class="thin">
					Introducing our latest masterpiece: the Ferrero Rocher Cake at La Bombonería. Elevate your dessert
					experience with this decadent creation that combines the richness of chocolate with the exquisite
					flavor of Ferrero Rocher.</br>
					Whether you're marking a special occasion or simply treating yourself to a moment of pure delight,
					our Chocolate Ferrero Rocher Cake is the perfect choice. Join us at La Bombonería to experience the
					magic of this exceptional creation and indulge in the extraordinary fusion of chocolate and Ferrero
					Rocher luxury.
				</p>
			</div>

			<div class="col-12 col-md-6 mb-4 order-md-3 mt-5">
				<img class="image" src="../pics/large/13.jpg" alt="Blog image 4">
			</div>
			<div class="col-12 col-md-6 mb-4 order-md-2 mt-5">
				<h2>Sweet baby donuts</h2>
				<p class="thin">
					Delight in the comforting embrace of our homemade donuts at La Bombonería.
					Each bite promises a perfect balance of soft, pillowy dough and delectable
					toppings, creating a symphony of flavors that will transport you to a world of sweet bliss.
					Our commitment to quality shines through in every aspect of our donut-making process.</br>
					Join us at La Bombonería to savor the joy of freshly made, homemade donuts that bring a touch of
					warmth and sweetness to your day. Indulge in the simple pleasures of life with our delightful
					assortment of donuts, each one a testament to the art of homemade goodness.
				</p>
			</div>
		</div>
	</div>


	<div class="footer-dark mt-5">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h4>La Bombonería</h4>
					<p class="thin">
						Our delectable chocolates are meticulously handcrafted using natural and premium-quality
						ingredients. Discover the unparalleled pleasure of our artisanal chocolates.
					</p>
				</div>

				<div class="col-md-6 item mt-2 mt-sm-3">
					<h4>Services</h4>
					<ul>
						<li><a href="#">Handcraft</a></li>
						<li><a href="#">Baked goods</a></li>
					</ul>
				</div>

				<div class="col-md-6 item mt-4 mt-sm-3">
					<h4>About</h4>
					<ul>
						<li><a href="#">Our Journey</a></li>
						<li><a href="#">Team</a></li>
					</ul>
				</div>

			</div>
			<div class="row mt-5">
				<div class="col-12">
					<p class="copyright">La Bombonería &copy; 2024</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>