<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>La Bombonería - Gallery</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="primeColour" href="../index.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#ff5471" class="bi bi-cake-fill"
                viewBox="0 0 16 16">
                <path
                    d="m7.399.804.595-.792.598.79A.747.747 0 0 1 8.5 1.806V4H11a2 2 0 0 1 2 2v3h1a2 2 0 0 1 2 2v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-4a2 2 0 0 1 2-2h1V6a2 2 0 0 1 2-2h2.5V1.813a.747.747 0 0 1-.101-1.01ZM12 6.414a.9.9 0 0 1-.646-.268 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0A.9.9 0 0 1 4 6.414v1c.49 0 .98-.187 1.354-.56a.914.914 0 0 1 1.292 0c.748.747 1.96.747 2.708 0a.914.914 0 0 1 1.292 0c.374.373.864.56 1.354.56zm2.646 5.732a.914.914 0 0 1-1.293 0 1.914 1.914 0 0 0-2.707 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0L1 11.793v1.34c.737.452 1.715.36 2.354-.28a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.708 0a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.707 0a.914.914 0 0 1 1.293 0 1.915 1.915 0 0 0 2.354.28v-1.34z" />
            </svg>La Bombonería
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">GALLERY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="form.html">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h2 id="primeColour">Gallery</h2>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/1.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/2.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/3.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/4.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/5.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/6.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/7.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/8.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/9.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/10.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/11.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/12.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/13.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/14.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/15.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/16.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/17.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/18.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/19.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/20.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/21.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/22.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/23.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/24.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/25.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/26.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/27.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/28.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/29.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-6 col-md-4 mt-3 col-lg-3">
                <img src="../pics/minis/400x400/30.jpg" class="img-fluid" alt="image">
            </div>
        </div>
    </div>
    <div class="container mt-5"></div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>