<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <title>La Bombonería - Macarons</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" id="primeColour" href="../../index.html">
      <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#ff5471" class="bi bi-cake-fill"
        viewBox="0 0 16 16">
        <path
          d="m7.399.804.595-.792.598.79A.747.747 0 0 1 8.5 1.806V4H11a2 2 0 0 1 2 2v3h1a2 2 0 0 1 2 2v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-4a2 2 0 0 1 2-2h1V6a2 2 0 0 1 2-2h2.5V1.813a.747.747 0 0 1-.101-1.01ZM12 6.414a.9.9 0 0 1-.646-.268 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0A.9.9 0 0 1 4 6.414v1c.49 0 .98-.187 1.354-.56a.914.914 0 0 1 1.292 0c.748.747 1.96.747 2.708 0a.914.914 0 0 1 1.292 0c.374.373.864.56 1.354.56zm2.646 5.732a.914.914 0 0 1-1.293 0 1.914 1.914 0 0 0-2.707 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0L1 11.793v1.34c.737.452 1.715.36 2.354-.28a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.708 0a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.707 0a.914.914 0 0 1 1.293 0 1.915 1.915 0 0 0 2.354.28v-1.34z" />
      </svg>La Bombonería
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../../index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../blog.html">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../gallery.html">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../form.html">CONTACT US</a>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container mt-5"></div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="product-container">
          <img src="../../pics/minis/mini2.jpg" class="img-fluid product-image" alt="Macarons">
          <div class="product-details mt-5">
            <h2>Chocolate macarons</h2>
            <p class="thin italic">Indulge in the exquisite richness of our chocolate macarons –
              a symphony of velvety cocoa ganache nestled between delicate almond shells.<br><br>
              Elevate your senses with each bite, as these handcrafted delights redefine
              the art of sweet indulgence.</p>

            <div class="input-group mt-4 col-4 col-sm-6">
              <div class="input-group-prepend">
                <button class="btn btn-warning btn-outline-secondary" type="button" id="btnMinus">-</button>
              </div>
              <input type="text" class="form-control quantity-input" value="1" id="quantity">
              <div class="input-group-append">
                <button class="btn btn-warning btn-outline-secondary" type="button" id="btnPlus">+</button>
              </div>
            </div>

            <button class="btn btn-warning mt-4 buy-now-button">Buy now</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5"></div>


  <div class="footer-dark mt-5">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h4>La Bombonería</h4>
          <p class="thin">
            Our delectable chocolates are meticulously handcrafted using natural and premium-quality
            ingredients. Discover the unparalleled pleasure of our artisanal chocolates.
          </p>
        </div>

        <div class="col-md-6 item mt-2 mt-sm-3">
          <h4>Services</h4>
          <ul>
            <li><a href="#">Handcraft</a></li>
            <li><a href="#">Baked goods</a></li>
          </ul>
        </div>

        <div class="col-md-6 item mt-4 mt-sm-3">
          <h4>About</h4>
          <ul>
            <li><a href="#">Our Journey</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </div>

      </div>
      <div class="row mt-5">
        <div class="col-12">
          <p class="copyright">La Bombonería &copy; 2024</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      var quantityInput = $("#quantity");

      $("#btnMinus").on("click", function () {
        var currentValue = parseInt(quantityInput.val(), 10);
        if (currentValue > 1) {
          quantityInput.val(currentValue - 1);
        }
      });

      $("#btnPlus").on("click", function () {
        var currentValue = parseInt(quantityInput.val(), 10);
        quantityInput.val(currentValue + 1);
      });
    });
  </script>

</body>

</html>